[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/madler/zlib.git
[submodule "lib/lzma"]
	path = lib/lzma
	url = https://github.com/SWFRecomp/lzma.git
[submodule "lib/earcut"]
	path = lib/earcut
	url = https://github.com/mapbox/earcut.hpp.git
[submodule "lib/tomlplusplus"]
	path = lib/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
